<!DOCTYPE html>
<html>
<head>
    <title>{{ 'SVEIKIIIIIIIII' }}</title>
</head>
<body>
<h1>{{ "Sveiki" }}</h1>

<ul ><li><a href="{{ 'emotion' }}">{{ 'Emocijos fiksavimas' }}</a></li></ul>
<ul>
        <li><a href="{{ 'emotion_list' }}">{{ 'Istorija' }}</a></li>
</ul>

</body>
</html>